{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <div style="background-color:lightgray;" class="col-8 text-center mx-auto">
      <h2 class="text-center">Чат з {{ other_user.username }}</h2>

      {% if last_activity %}
        <p class="text-center">Остання активність: {{ last_activity|timesince }} тому</p>
      {% endif %}
    </div>

    <div id="chat-messages" class="col-8 mx-auto px-auto" style="max-height: 60vh; overflow-y: auto; display: flex; flex-direction: column-reverse;">
      {% for message in messages %}
      <div class="mb-3 col-5 {% if message.sender == current_user %}text-end current-user-message{% endif %} message-container" data-message-id="{{ message.id }}" style="{% if message.sender == current_user %}align-self: flex-end;{% else %}align-self: flex-start;{% endif %}">
        <div class="card col-12 mx-auto" style="background-color: {% if message.sender == current_user %}yellow{% else %}lightgreen{% endif %};">
          <div class="card-body">
            <p class="card-text message-content">
              {{ message.content }}
            </p>
          </div>
        </div>
        <p class="card-text small text-muted">
          {{ message.sender.username }} - {{ message.timestamp|timesince }} тому
        </p>
      </div>
      
      {% endfor %}
    </div>

    <form method="post" action="{% url 'send_message' other_user.id %}" id="message-form" class="mt-3 col-8 mx-auto px-auto">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" name="content" class="form-control" id="message-input" required>
        <button type="button" id="emoji-button" class="btn btn-light">😊</button>
        <button type="submit" class="btn btn-dark">Надіслати</button>
      </div>
    </form>
    
  </div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const inputField = document.getElementById('message-input');
    const emojiButton = document.getElementById('emoji-button');
    const emojiPicker = new EmojiPicker();

    emojiButton.addEventListener('click', function () {
      emojiPicker.showPicker(inputField);
    });
  });
  $(document).ready(function() {
    $('.message-container').on('contextmenu', function(e) {
      e.preventDefault(); // Prevent the default context menu
      
      var messageId = $(this).data('message-id');
      var isCurrentUserMessage = $(this).hasClass('current-user-message');
      var isDeletedMessage = $(this).find('.message-content').text().trim() === 'deleted message';

      // Remove any existing context menus
      $('.context-menu').remove();

      if (isCurrentUserMessage && !isDeletedMessage) {
        var menu = $('<div/>').addClass('context-menu').appendTo('body');

        var editButton = $('<button/>').text('Редагувати').click(function() {
          window.location.href = '{% url "edit_message" 0 %}'.replace('0', messageId);
        });
        var deleteButton = $('<button/>').text('Видалити').click(function() {
          window.location.href = '{% url "delete_message" 0 %}'.replace('0', messageId);
        });

        menu.append(editButton, deleteButton);

        menu.css({
          top: e.pageY - 10 + 'px',
          left: e.pageX - 10 + 'px',
          position: 'absolute'
        });
      }
    });

  });
</script>

  
{% endblock %}
