<!-- chat/templates/chat/chat_home.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Chat Home</h2>

  <form method="get">
    <input type="text" name="search" placeholder="Search contacts">
    <button type="submit">Search</button>
  </form>

  <ul>
    {% for user_status in users|dictsort:"user.id" %}
      <li>
        <a href="{% url 'chat_with_user' user_status.user.id %}">
          {{ user_status.user.username }}
          {% if user_status.user.id in unchecked_users_dict %}
            <span style="color: red;">(Unread)</span>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
