<!-- chat/templates/chat/chat_home.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Chat Home</h2>

  <form method="get">
    <input type="text" name="search" placeholder="Search contacts">
    <button type="submit">Search</button>
  </form>

  <ul>
    {% for user_status in users %}
      <li>
        <a href="{% url 'chat_with_user' user_status.user.id %}">
          {{ user_status.user.username }}
          {% with last_checked=last_checked_dict.user_status.user.id %}
            {% if user_status.last_message and not last_checked or user_status.last_message.timestamp > last_checked %}
              <span style="color: red;">(Unread)</span>
            {% endif %}
          {% endwith %}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
