<!-- mychat/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyChatApp{% endblock %}</title>
</head>
<body>
    <div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'user_profile' %}">Profile</a></li>
                    <!-- Add other authenticated user links as needed -->
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <!-- Add other links for non-authenticated users as needed -->
                {% endif %}
                <li><a href="{% url 'chat_home' %}">Chat</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
